<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.spzx.travel.mapper.UserInfoMapper">
    <resultMap id="userInfoMap" type="com.travel.spzx.model.entity.user.UserInfo" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id
        ,username,
            password,
            nick_name,
            avatar,
            sex,
            phone,
            memo,
            open_id,
            union_id,
            last_login_ip,
            last_login_time,
            status,
            create_time,
            update_time,
            is_deleted,
            `name`,
            birthday,
            id_card_type,
            id_card_no
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into user_info (id,
                               username,
                               password,
                               nick_name,
                               avatar,
                               sex,
                               phone,
                               memo,
                               open_id,
                               union_id,
                               last_login_ip,
                               last_login_time,
                               status)
        values (#{id},
                #{username},
                #{password},
                #{nickName},
                #{avatar},
                #{sex},
                #{phone},
                #{memo},
                #{openId},
                #{unionId},
                #{lastLoginIp},
                #{lastLoginTime},
                #{status})
    </insert>
    <update id="delete">
        update user_info
        set is_deleted = 1
        where id = #{id}
    </update>


    <select id="getByUsername" resultMap="userInfoMap">
        select
        <include refid="columns"/>
        from user_info
        where
        username = #{username}
        and is_deleted = 0
    </select>
    <select id="getByPhone" resultMap="userInfoMap">
        select
        <include refid="columns"/>
        from user_info
        where
        phone = #{phone}
        and is_deleted = 0
    </select>

    <update id="update">
        update user_info
        <set>
            <if test="username!= null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="name != null">name = #{name},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="memo != null">memo = #{memo},</if>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="unionId != null">union_id = #{unionId},</if>
            <if test="lastLoginIp != null">last_login_ip = #{lastLoginIp},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="idCardType != null">id_card_type = #{idCardType},</if>
            <if test="idCardNo != null">id_card_no = #{idCardNo},</if>
            update_time = now(),
        </set>
        where id = #{id}
        and is_deleted = 0
    </update>
</mapper>