<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.IdTypeInfoMapper">
    <resultMap id="idTypeInfoResultMap" type="com.atguigu.spzx.model.entity.IdType.IdTypeInfo"/>
    <sql id="columns">
        id
        , id_type_name, remark,create_time,update_time, is_deleted
    </sql>
    <insert id="save">
        insert into id_type_info
            (id, id_type_name, remark, create_time, update_time, is_deleted)
        values (#{id},
                #{idTypeName},
                #{remark},
                now(),
                now(),
                0)
    </insert>

    <delete id="delete">
        update id_type_info
        set is_deleted = 1
        where id = #{id}
    </delete>
    <update id="update">
        update id_type_info
        <set>
            <if test="idTypeName!= null">
                id_type_name = #{idTypeName},
            </if>
            <if test="remark!= null">
                remark = #{remark},
            </if>
            update_time = now()
        </set>
        where id = #{id}
    </update>
    <resultMap id="idTypeMap" type="com.atguigu.spzx.model.entity.IdType.IdTypeInfo"/>
    <select id="findAll" resultMap="idTypeMap">
        select
        <include refid="columns"/>
        from id_type_info
        where is_deleted = 0

    </select>
</mapper>