<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.spzx.manager.mapper.BatchInfoMapper">

    <sql id="columns">
        id
        ,product_id,total_num,success_num,audit,status,sale_num,holidays,start_time,end_time,remark,create_time,update_time,is_deleted
    </sql>

    <sql id="batchColumns">
        bi.id,
            bi.product_id,
            bi.total_num,bi.success_num,
            bi.audit,
            bi.status,
            bi.sale_num,
            bi.start_time,

            bi.end_time,
            bi.remark,
            bi.create_time,
            bi.update_time,
            bi.is_deleted,
            bi.holidays,
            p.name as product_name
    </sql>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into batch_info (id,
                                product_id,
                                total_num,
                                success_num,
                                audit,
                                status,
                                start_time,
                                end_time,
                                holidays,
                                remark,
                                create_time,
                                update_time,
                                is_deleted)
        values (#{id},
                #{productId},
                #{totalNum},
                #{successNum},
                #{audit},
                #{status},
                #{startTime},
                #{endTime},
                #{holidays},
                #{remark},
                now(),
                now(),
                0)

    </insert>

    <resultMap id="batchMap" type="com.travel.spzx.model.entity.product.BatchItem"/>
    <select id="selectByProductId" resultMap="batchMap">
        select
        <include refid="batchColumns"/>
        from batch_info bi
        left join product p on bi.product_id = p.id
        where bi.is_deleted = 0
        and bi.product_id=#{productId}
        order by bi.start_time asc

    </select>
    <select id="findAll" resultType="com.travel.spzx.model.entity.product.BatchItem">
        select
        <include refid="columns"/>
        from batch_info
        where is_deleted = 0
        and product_id = #{productId}
        order by id desc
    </select>
    <select id="getDetailByBatchId" resultMap="batchMap">
        select bi.id,
               bi.product_id,
               bi.total_num,
               bi.success_num,
               bi.audit,
               bi.status,
               bi.sale_num,
               bi.start_time,
               bi.end_time,
               bi.remark,
               bi.create_time,
               bi.update_time,
               bi.is_deleted,
               bi.holidays,
               p.name as product_name
        from batch_info bi
                 left join product p on bi.product_id = p.id
        where bi.is_deleted = 0
          and bi.id = #{id}

    </select>


    <update id="updateById">
        update batch_info
        <set>
            <if test="totalNum!= null">total_num=#{totalNum},</if>
            <if test="successNum!= null">success_num=#{successNum},</if>
            <if test="audit!= null">audit=#{audit},</if>
            <if test="status!= null">status=#{status},</if>
            <if test="holidays != null">holidays=#{holidays},</if>
            <if test="startTime!= null">start_time=#{startTime},</if>
            <if test="endTime!= null">end_time=#{endTime},</if>
            <if test="remark!= null">remark=#{remark},</if>
            update_time=now()
        </set>
        where id=#{id}
    </update>
</mapper>