<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.spzx.manager.mapper.SysUserMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id
        ,username userName,password,name,phone,avatar,description,status,create_time,update_time,is_deleted
    </sql>


    <resultMap id="sysUserResultMap" type="com.travel.spzx.model.entity.system.SysUser">

    </resultMap>
    <!-- 根据用户ID查询用户信息 -->
    <select id="selectByUsername" resultMap="sysUserResultMap">
        SELECT
        <include refid="columns"/>
        FROM sys_user WHERE userName = #{userName} and is_deleted = 0
    </select>
    <select id="queryUsersByPage" resultType="com.travel.spzx.model.entity.system.SysUser">
        SELECT
        <include refid="columns"/>
        FROM sys_user
        <where>
            <if test="keyword!= null and keyword!= ''">
                AND username LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="createTimeBegin!= null and createTimeBegin!= ''">
                AND create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd!= null and createTimeEnd!= ''">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        ORDER BY id DESC
    </select>
    <select id="queryByUserId" resultMap="sysUserResultMap">
        SELECT
        <include refid="columns"/>
        FROM sys_user WHERE id = #{userId} and is_deleted = 0
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user (id,
                              username,
                              password,
                              name,
                              phone,
                              avatar,
                              description,
                              status)
        values (#{id},
                #{userName},
                #{password},
                #{name},
                #{phone},
                #{avatar},
                #{description},
                #{status})
    </insert>

    <update id="update">
        update sys_user
        <set>
            <if test="userName!= null and userName!= ''">
                username = #{userName},
            </if>
            <if test="password!= null and password!= ''">
                password = #{password},
            </if>
            <if test="name!= null and name!= ''">
                name = #{name},
            </if>
            <if test="phone!= null and phone!= ''">
                phone = #{phone},
            </if>
            <if test="avatar!= null and avatar!= ''">
                avatar = #{avatar},
            </if>
            <if test="description!= null and description!= ''">
                description = #{description},
            </if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>

    <update id="delete">
        update sys_user
        set is_deleted  = 1,
            update_time = NOW()
        where id = #{id}
    </update>
</mapper>