<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.spzx.manager.mapper.UserInfoMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id
        ,
        avatar,nick_name,phone,status,create_time,update_time,is_deleted
    </sql>


    <resultMap id="userInfoResultMap" type="com.travel.spzx.model.entity.user.UserInfo"/>

    <select id="queryUsersByPage" resultMap="userInfoResultMap">
        SELECT
        <include refid="columns"/>
        FROM user_info
        <where>
            <if test="keyword!= null and keyword!= ''">
                AND username LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="createTimeBegin!= null and createTimeBegin!= ''">
                AND create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd!= null and createTimeEnd!= ''">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        ORDER BY id DESC
    </select>

    <update id="forbiddenUser">
        update user_info
        set status      = #{status},
            update_time = NOW()
        where id = #{userId}
    </update>
    <update id="updateStatus">
        update user_info
        set status      = #{status},
            update_time = NOW()
        where id = #{id}

    </update>

    <select id="queryUserListByUsername" resultMap="userInfoResultMap">
        SELECT
        <include refid="columns"/>
        FROM user_info

        <where>
            <if test="username!= null and username!= ''">
                AND username like CONCAT('%', #{username}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="queryById" resultType="com.travel.spzx.model.entity.user.UserInfo">
        SELECT
        <include refid="columns"/>
        FROM user_info
        WHERE id = #{id}
    </select>


</mapper>